*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1em;
  background-color: #f3f3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #e6e6e6;
  border: 1px solid transparent;
  padding: 0.75em 1em;
}

button:hover,
button:active {
  background-color: #ccc;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #f3f3f3;
  width: 100%;
  padding: 1em 1.5em;
}

.poems {
  margin-block-start: 3.5em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.poem-controls {
  pointer-events: none;
  display: flex;
}

.control {
  pointer-events: all;
  width: 50%;
}

.poem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 0 1em;
}

.poem__columns {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
}

.poem__number {
  scroll-margin-top: 72px;
}

.poem__card {
  padding: 2em;
}

.poem__author {
  width: 100%;
  font-size: 2.5em;
  margin-block-start: 0;
  justify-content: center;
}

.poem__text {
  display: flex;
  flex-direction: column;
}

.poem__card--ja .line {
  display: flex;
  align-items: flex-end;
}

.poem__card--ja .word__container {
  display: flex;
  align-items: flex-end;
}

.poem__card--romaji .romaji:first-child:not(.particle),
.poem__author--en {
  text-transform: capitalize;
}

.poem__author--romaji,
.poem__author--en {
  line-height: 2;
  margin-block-end: 1rem;
}

.poem__card--romaji .poem__text,
.poem__card--en .poem__text {
  font-size: 1.5em;
  line-height: 1.95;
}

.poem__card--ja .word__container + .word__container {
  margin-inline-start: 0.75em;
}

.character__container {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  align-items: center;
  justify-content: flex-end;
  min-height: 2.8125rem;
}

.poem__author--ja .character__container {
  min-height: 3.5625rem;
}

.character {
  line-height: 1;
}

.poem__text .character {
  font-size: 1.75em;
}

.furigana {
  font-size: 0.75em;
  line-height: 1;
  width: max-content;
}

.poem__author .furigana {
  font-size: 0.35em;
}

/* START: Traditional style */
.poem__card--ja-traditional {
  display: flex;
  direction: rtl;
  flex-direction: row;
}

.poem__card--ja-traditional .character__container {
  flex-direction: row;
  min-width: 2.8125rem;
}

.poem__card--ja-traditional .poem__text {
  direction: rtl;
  flex-direction: row;
}

.poem__card--ja-traditional .line,
.poem__card--ja-traditional .word__container {
  flex-direction: column;
}

.poem__card--ja-traditional .word__container {
  align-items: center;
  width: 100%;
}

.poem__card--ja-traditional :not(.poem__author) .line {
  margin-inline-start: 1em;
}

.poem__card--ja-traditional .furigana {
  width: 1.25em;
}

.poem__card--ja-traditional .word__container + .word__container {
  margin-inline-start: 0;
  margin-block-start: 0.75em;
}

.poem__card--ja-traditional .character__container {
  min-height: initial;
}

/* END: Traditional style */

/* Carousel styles */

main.poems--carousel {
  height: calc(100vh - 4.5em - 1.3125em);
}

.poems--carousel .poem {
  min-height: 100%;
}

.poems--carousel .poem {
  display: none;
}

.poems--carousel .poem.active {
  display: flex;
}

.controls__label {
  display: inline-block;
  margin-block-end: 1em;
}

/* The toggle - the box around the slider */
.toggle {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.5em;
}

/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1em;
  width: 1em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 0 2px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(1em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1.5em;
}

.slider.round:before {
  border-radius: 50%;
}

.controls__label .toggle {
  margin-inline-start: 0.5em;
}

@media screen and (min-width: 30em) {
  .controls__label {
    width: 50%;
  }
}

@media screen and (min-width: 48em) {
  .controls {
    display: flex;
  }

  .controls__label {
    width: initial;
  }

  .controls__label + .controls__label {
    margin-inline-start: 1em;
  }
}
