:root {
  --top-start: initial;
  --right-start: 0;
  --scroll-width: none;
  --scroll-height: 3em;
  --shadow-width: 100%;
  --shadow-height: 2em;
  --shadow-left: 0;
  --shadow-bottom: 3em;
  --degrees: 0deg;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1em;
  background-color: #fffdf6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select {
  font-size: 1em;
}

button {
  pointer-events: all;
  background-color: #0189b9;
  border: 1px solid transparent;
  padding: 0.75em 1em;
  margin-block-end: 1em;
  color: #fcfcfc;
}

button:hover,
button:active {
  background-color: #006387;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.site-header {
  background-color: #debd6e;
  padding: 1em 1.5em;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 4.5em;
}

.settings-controls__container {
  display: flex;
  position: relative;
}

.settings-controls__options {
  pointer-events: none;
}

.settings-controls__container--mobile > .settings-controls__options {
  display: none;
}

.settings-controls__container--mobile.is-open {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #fbf6e0;
  flex-direction: column;
}

.settings-controls__container--mobile.is-open > .settings-controls__toggle {
  z-index: 10;
  position: absolute;
  left: 1.5em;
  top: 1em;
}

.settings-controls__container.is-open .settings-controls__options {
  display: flex;
  flex-direction: column;
  background-color: #fbf6e0;
  padding: 1em;
  margin-top: -1em;
}

.settings-controls__container--submenu .settings-controls__toggle {
  display: none;
}

.settings-controls__container--submenu .settings-controls__options {
  display: flex;
}

.settings-controls__control {
  margin-block-end: 1em;
  pointer-events: all;
}

.controls__label {
  display: flex;
  justify-content: space-between;
}

.control__label-text {
  margin-right: 1em;
}

.control__toggle-container {
  width: 5.375em;
  text-align: center;
}

.poem-controls {
  pointer-events: none;
  display: flex;
}

.control {
  pointer-events: all;
  width: 50%;
  margin-block-end: 0;
}

.poems {
  margin-block-start: 4.5em;
  flex-grow: 1;
  padding: 1em;
}

.poem {
  position: relative;
  padding: 0.25em;
  margin-block-end: 2em;
  overflow: hidden;
}

.scroll {
  width: 100%;
  transition: transform 2s ease-out;
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

.scroll--unrolled {
  background-image: url('images/gold_scale.png');
  padding: 1em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 2s ease-out;
  width: 100%;
}

.scroll--rolled {
  display: block;
  position: absolute;
  top: var(--top-start);
  right: var(--right-start);
  bottom: 0;
  left: 0;
  width: var(--scroll-width);
  height: var(--scroll-height);
  margin-left: -0.25em;
  margin-right: -0.25em;
  background: rgb(200, 172, 99);
  background: linear-gradient(
    var(--degrees),
    rgba(200, 172, 99, 1) 0%,
    rgba(254, 240, 208, 1) 50%,
    rgba(222, 189, 110, 1) 100%
  );
}

.scroll--rolled::before {
  top: var(--top-start);
  right: var(--right-start);
  bottom: var(--shadow-bottom);
  left: var(--shadow-left);
  width: var(--shadow-width);
  height: var(--shadow-height);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    var(--degrees),
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  content: '';
  position: absolute;
}

.poem__paper {
  background: #fbf6e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  max-width: 130ch;
  padding: 0 0 3em 0;
}

@media screen and (min-width: 45em) {
  :root {
    --top-start: 0;
    --right-start: initial;
    --scroll-width: 3em;
    --scroll-height: auto;
    --shadow-width: 2em;
    --shadow-height: 100%;
    --shadow-left: 3em;
    --shadow-bottom: 0;
    --degrees: 90deg;
  }

  .poem__paper {
    padding: 0 0 0 3em;
  }

  .scroll--rolled {
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.25em;
    margin-bottom: -0.25em;
  }

  .columns .poem__columns,
  .poems--two-cards .poem__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 50em) {
  @supports (display: grid) {
    .poems--three-cards:not(.columns) .poem__columns {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }

    .poem__card--ja {
      grid-area: main;
    }

    .poem__card--en {
      grid-area: secondary--one;
    }

    .poem__card--romaji {
      grid-area: secondary--two;
    }

    .main--left .poem__columns {
      grid-template-areas:
        'main secondary--one'
        'main secondary--two';
    }
    .main--right .poem__columns {
      grid-template-areas:
        'secondary--one main'
        'secondary--two main';
    }
    .main--top .poem__columns {
      grid-template-areas:
        'main main'
        'secondary--one secondary--two';
    }
    .main--bottom .poem__columns {
      grid-template-areas:
        'secondary--one secondary--two'
        'main main';
    }

    .main--left .poem__card--ja,
    .main--right .poem__card--ja,
    .main--top .poem__card--ja,
    .main--bottom .poem__card--ja {
      justify-self: center;
    }
  }
}

@media screen and (min-width: 65em) {
  .poem__paper {
    padding: 0;
  }
}

@media screen and (min-width: 80em) {
  .settings-controls__container {
    position: initial;
    height: auto;
  }

  .settings-controls__container--mobile > .settings-controls__toggle {
    display: none;
  }

  .settings-controls__container--mobile > .settings-controls__options {
    display: flex;
  }

  .settings-controls__container--submenu {
    position: relative;
  }
  .settings-controls__container--submenu .settings-controls__options {
    display: none;
    position: absolute;
    top: 100%;
    width: max-content;
  }

  .settings-controls__container--submenu .settings-controls__toggle {
    display: block;
  }

  @supports (display: flex) {
    .site-header {
      display: flex;
    }

    .settings-controls__container--submenu:not(:first-child) {
      margin-inline-start: 1em;
    }
  }
}

.poem__number {
  scroll-margin-top: 72px;
}

.poem__card {
  padding: 2em;
}

.poem__author {
  width: 100%;
  font-size: 2.5em;
  margin-block-start: 0;
  justify-content: center;
}

.poem__text {
  display: flex;
  flex-direction: column;
}

.poem__card--ja .line {
  display: flex;
  align-items: flex-end;
}

.poem__card--ja .word__container {
  display: flex;
  align-items: flex-end;
}

.poem__card--romaji .romaji:first-child:not(.particle),
.poem__author--en {
  text-transform: capitalize;
}

.poem__author--romaji,
.poem__author--en {
  line-height: 2;
  margin-block-end: 1rem;
}

.poem__card--romaji .poem__text,
.poem__card--en .poem__text {
  font-size: 1.5em;
  line-height: 1.95;
}

.poem__card--ja .word__container + .word__container {
  margin-inline-start: 0.75em;
}

.character__container {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  align-items: center;
  justify-content: flex-end;
  min-height: 2.8125rem;
}

.poem__author--ja .character__container {
  min-height: 3.5625rem;
}

.character {
  line-height: 1;
}

.poem__text .character {
  font-size: 1.75em;
}

.furigana {
  font-size: 0.75em;
  line-height: 1;
  width: max-content;
}

.poem__author .furigana {
  font-size: 0.35em;
}

/* START: Traditional style */
.poem__card--ja-traditional {
  display: flex;
  direction: rtl;
  flex-direction: row;
}

.poem__card--ja-traditional .character__container {
  flex-direction: row;
  min-width: 2.8125rem;
}

.poem__card--ja-traditional .poem__text {
  direction: rtl;
  flex-direction: row;
}

.poem__card--ja-traditional .line,
.poem__card--ja-traditional .word__container {
  flex-direction: column;
}

.poem__card--ja-traditional .word__container {
  align-items: center;
  width: 100%;
}

.poem__card--ja-traditional :not(.poem__author) .line {
  margin-inline-start: 1em;
}

.poem__card--ja-traditional .furigana {
  width: 1.25em;
}

.poem__card--ja-traditional .word__container + .word__container {
  margin-inline-start: 0;
  margin-block-start: 0.75em;
}

.poem__card--ja-traditional .character__container {
  min-height: initial;
}
/* END: Traditional style */

/* Carousel styles */
.poems--carousel {
  display: flex;
  margin-block-end: 2.75em;
  overflow: hidden;
}

.poems--carousel .poem {
  width: 100%;
  display: none;
  margin-block-end: 0;
}

.poems--carousel .poem.active {
  display: flex;
}

.poems--carousel .active {
  position: relative;
}

.poems--carousel .active .scroll {
  transition: all 1s;
}

.scroll--rolled {
  position: absolute;
  transition: inherit;
}

@media screen and (prefers-reduced-motion: no-preference) {
  @keyframes open-scroll-hor {
    0% {
      clip-path: inset(0 0 0 100%);
    }
    100% {
      clip-path: inset(0);
    }
  }

  @keyframes close-scroll-hor {
    0% {
      clip-path: inset(0);
    }
    100% {
      clip-path: inset(0 0 0 100%);
    }
  }
  @keyframes open-scroll-ver {
    0% {
      clip-path: inset(0 0 100% 0);
    }
    100% {
      clip-path: inset(0);
    }
  }

  @keyframes close-scroll-ver {
    0% {
      clip-path: inset(0);
    }
    100% {
      clip-path: inset(0 0 100% 0);
    }
  }

  @keyframes open-unrolled-scroll-hor {
    0% {
      transform: translateX(calc(100% - 3em));
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes open-unrolled-scroll-ver {
    0% {
      transform: translateY(calc(-100% + 3em));
    }
    100% {
      transform: translateY(0%);
    }
  }

  :root {
    --open-scroll-animation: open-scroll-ver;
    --close-scroll-animation: close-scroll-ver;
    --open-unrolled-scroll-animation: open-unrolled-scroll-ver;
  }

  @media (min-width: 45em) {
    :root {
      --open-scroll-animation: open-scroll-hor;
      --close-scroll-animation: close-scroll-hor;
      --open-unrolled-scroll-animation: open-unrolled-scroll-hor;
    }

    .poems--carousel .scroll--unrolled {
      clip-path: inset(0 0 0 100%);
    }

    .poems--carousel .poem .scroll {
      transform: translateX(calc(100% - 3em));
    }
  }

  .poems--carousel .poem.active .scroll {
    animation: 1s var(--open-unrolled-scroll-animation) forwards;
  }

  .poems--carousel .poem .scroll--unrolled {
    animation: 1s var(--close-scroll-animation) forwards;
  }

  .poems--carousel .poem.active .scroll--unrolled {
    animation: 1s var(--open-scroll-animation) forwards;
  }
}

.poems--carousel + .poem-controls {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* The toggle - the box around the slider */
.toggle {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.5em;
  margin-inline: 0.25em;
}

/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1em;
  width: 1em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 0 2px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(1em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1.5em;
}

.slider.round:before {
  border-radius: 50%;
}

.poem__card--ja {
  position: relative;
}

/* Tooltip */
.tooltip {
  position: relative;
  border-bottom: 1px dashed blue;
}

.tooltip-role::before {
  color: black;
  z-index: 1;
  direction: ltr;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: normal;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background: hsla(45, 82%, 64%, 0.9);
  /* content: attr(data-tooltip-special); */
  content: attr(data-tooltip-role) '. ' attr(data-tooltip-special);
  position: absolute;
  top: 50%;
  left: 100%;
  display: none;
  transform: translateY(-50%);
}

.tooltip-role:hover::before {
  display: block;
}

/* .tooltip-special::after {
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  display: block;
  content: '';
  height: 1em;
  width: 1em;
  background-color: #ccc;
  border-radius: 50%;
  top: 0;
  left: 100%;
}

.tooltip-special::before {
  color: black;
  z-index: 1;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: normal;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background: hsla(45, 82%, 64%, 0.9);
  content: attr(data-tooltip-special);
  position: absolute;
  top: calc(50% - 1em);
  left: calc(100% + 1em);
  display: none;
  transform: translateY(-50%);
}

.tooltip-special:hover::before {
  display: block;
} */
