*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1em;
  background-color: #f3f3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #e6e6e6;
  border: 1px solid transparent;
  padding: 0.75em 1em;
  margin-block-end: 1em;
}

button:hover,
button:active {
  background-color: #ccc;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.site-header {
  background-color: #f3f3f3;
  padding: 1em 1.5em;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 4.5em;
}

.settings-controls__toggle--mobile {
  z-index: 10;
  position: absolute;
}

.settings-controls__toggle + .settings-controls__toggle {
  margin-inline-start: 1em;
}

.settings-controls {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: oldlace;
  flex-direction: column;
}

.settings-controls.is-open {
  display: flex;
}

.settings-controls__submenu {
  display: flex;
  flex-direction: column;
}

.settings-controls__control {
  margin-block-end: 1em;
}

.poem-controls {
  pointer-events: none;
  display: flex;
}

.control {
  pointer-events: all;
  width: 50%;
}

.poems {
  margin-block-start: 4.5em;
  flex-grow: 1;
}

.poem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 0 1em;
  margin-block-end: 2em;
}

@media screen and (min-width: 45em) {
  .columns .poem__columns,
  .poems--two-cards .poem__columns {
    display: flex;
    /* max-width: 100%;
      overflow-x: scroll; */
    min-width: 42em;
  }

  .poems--two-cards .poem__card {
    width: 50%;
  }

  .poems--three-cards.columns .poem__card {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 69.5em) {
  .settings-controls {
    position: initial;
    height: auto;
  }

  .settings-controls__toggle--mobile {
    display: none;
  }

  @supports (display: flex) {
    .site-header {
      display: flex;
    }

    .settings-controls {
      display: flex;
    }

    .settings-controls,
    .settings-controls__submenu {
      flex-direction: row;
    }

    .settings-controls__control:not(:first-child) {
      margin-inline-start: 1em;
    }
  }

  @supports (display: grid) {
    .poems {
      margin-block-start: 4.5em;
    }

    .poems--three-cards:not(.columns) .poem__columns {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
    }

    .poem__card--ja {
      grid-area: main;
    }

    .poem__card--en {
      grid-area: secondary--one;
    }

    .poem__card--romaji {
      grid-area: secondary--two;
    }

    .main--left .poem__columns {
      grid-template-areas:
        'main secondary--one'
        'main secondary--two';
    }
    .main--right .poem__columns {
      grid-template-areas:
        'secondary--one main'
        'secondary--two main';
    }
    .main--top .poem__columns {
      grid-template-areas:
        'main main'
        'secondary--one secondary--two';
    }
    .main--bottom .poem__columns {
      grid-template-areas:
        'secondary--one secondary--two'
        'main main';
    }

    .main--left .poem__card--ja,
    .main--right .poem__card--ja,
    .main--top .poem__card--ja,
    .main--bottom .poem__card--ja {
      justify-self: center;
    }
  }
}

.poem__number {
  scroll-margin-top: 72px;
}

.poem__card {
  padding: 2em;
}

.poem__author {
  width: 100%;
  font-size: 2.5em;
  margin-block-start: 0;
  justify-content: center;
}

.poem__text {
  display: flex;
  flex-direction: column;
}

.poem__card--ja .line {
  display: flex;
  align-items: flex-end;
}

.poem__card--ja .word__container {
  display: flex;
  align-items: flex-end;
}

.poem__card--romaji .romaji:first-child:not(.particle),
.poem__author--en {
  text-transform: capitalize;
}

.poem__author--romaji,
.poem__author--en {
  line-height: 2;
  margin-block-end: 1rem;
}

.poem__card--romaji .poem__text,
.poem__card--en .poem__text {
  font-size: 1.5em;
  line-height: 1.95;
}

.poem__card--ja .word__container + .word__container {
  margin-inline-start: 0.75em;
}

.character__container {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  align-items: center;
  justify-content: flex-end;
  min-height: 2.8125rem;
}

.poem__author--ja .character__container {
  min-height: 3.5625rem;
}

.character {
  line-height: 1;
}

.poem__text .character {
  font-size: 1.75em;
}

.furigana {
  font-size: 0.75em;
  line-height: 1;
  width: max-content;
}

.poem__author .furigana {
  font-size: 0.35em;
}

/* START: Traditional style */
.poem__card--ja-traditional {
  display: flex;
  direction: rtl;
  flex-direction: row;
}

.poem__card--ja-traditional .character__container {
  flex-direction: row;
  min-width: 2.8125rem;
}

.poem__card--ja-traditional .poem__text {
  direction: rtl;
  flex-direction: row;
}

.poem__card--ja-traditional .line,
.poem__card--ja-traditional .word__container {
  flex-direction: column;
}

.poem__card--ja-traditional .word__container {
  align-items: center;
  width: 100%;
}

.poem__card--ja-traditional :not(.poem__author) .line {
  margin-inline-start: 1em;
}

.poem__card--ja-traditional .furigana {
  width: 1.25em;
}

.poem__card--ja-traditional .word__container + .word__container {
  margin-inline-start: 0;
  margin-block-start: 0.75em;
}

.poem__card--ja-traditional .character__container {
  min-height: initial;
}

/* END: Traditional style */

/* Carousel styles */
.poems--carousel {
  display: flex;
}

.poems--carousel .poem {
  width: 100%;
  display: none;
  margin-block-end: 0;
}

.poems--carousel .poem__columns {
  height: calc(100vh);
}

.poem.active {
  display: flex;
}

/* The toggle - the box around the slider */
.toggle {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.5em;
}

/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1em;
  width: 1em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 0 2px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(1em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1.5em;
}

.slider.round:before {
  border-radius: 50%;
}

.controls__label .toggle {
  margin-inline-start: 0.5em;
}

/* @media screen and (min-width: 48em) {
  .controls {
    display: flex;
  }

  .controls__label {
    width: initial;
  }

  .controls__label + .controls__label {
    margin-inline-start: 1em;
  }
} */

.poem__card--ja {
  position: relative;
}

.poem__card--ja::before,
.poem__card--ja::after {
  content: '';
  position: absolute;
  height: 1em;
  left: 0;
  right: 0;
}

/* .poem__card--ja::before {
  top: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
} */

.poem__card--ja::after {
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* .poem__card--ja {
  overflow: hidden;
  flex: 0;
  transition: flex ease-out 1s;
}
.poem__card--ja:hover {
  flex: 1;
} */
